<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484551097920-buq77h6n2ptipd8jjgrob75dv1p3ag4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484551097920-buq77h6n2ptipd8jjgrob75dv1p3ag4s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>484551097920-ikncprdvdu2ggu60qrl1p372gbms66md.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJuIi7TkFedgqcDRTsC8qny1Ji3gjQRdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>484551097920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApplication</string>
	<key>PROJECT_ID</key>
	<string>chat-app-d9759</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-d9759.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484551097920:ios:15772f53521526efe3e9a5</string>
</dict>
</plist>